
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }





@media only screen and (min-width: 320px) and (max-width: 740px) {


  .MQQ-Container {

    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }


  .MQQ-Instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 5em;
    background-color: white;
  }

  .MQQ-Instructions h4 {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: black;
  }

  .MQQ-Instructions p {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em;
    font-weight: 400;
    color: black;
  }


  .MQQ-Img-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 50px 0px 30px 0px;
    background-color: ;
  }

  #MQQ-Img {
    width: 50%;
    height: auto;
  }


  #MQQ-Knock-Knock-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Knock-Knock-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }


  .Knock-Knock-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Knock-Knock-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Knock-Knock-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Knock-Knock-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }





  #MQQ-Whos-There-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Whos-There-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Whos-There-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Whos-There-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Whos-There-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Whos-There-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #MQQ-Who-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Who-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Who-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Who-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Who-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Who-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #End-Result {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 5px 0px;
    background-color: ;
  }

  #End-Result form {
    text-align: center;
  }

  #End-Result h1 {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
  }

  #End-Result button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }

}


@media only screen and (min-width: 500px) and (max-width: 740px) {

  .MQQ-Container {

    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }


  .MQQ-Instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 5em;
    background-color: white;
  }

  .MQQ-Instructions h4 {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: black;
  }

  .MQQ-Instructions p {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em;
    font-weight: 400;
    color: black;
  }


  .MQQ-Img-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 50px 0px 30px 0px;
    background-color: ;
  }

  #MQQ-Img {
    width: 50%;
    height: auto;
  }


  #MQQ-Knock-Knock-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Knock-Knock-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }


  .Knock-Knock-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Knock-Knock-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Knock-Knock-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Knock-Knock-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }





  #MQQ-Whos-There-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Whos-There-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Whos-There-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Whos-There-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Whos-There-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Whos-There-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #MQQ-Who-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Who-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Who-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Who-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Who-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Who-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #End-Result {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 5px 0px;
    background-color: ;
  }

  #End-Result form {
    text-align: center;
  }

  #End-Result h1 {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
  }

  #End-Result button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }

}


@media only screen and (min-width: 741px) and (max-width: 1023px) {

  .MQQ-Container {

    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }


  .MQQ-Instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 5em;
    background-color: white;
  }

  .MQQ-Instructions h4 {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: black;
  }

  .MQQ-Instructions p {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em;
    font-weight: 400;
    color: black;
  }


  .MQQ-Img-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 50px 0px 30px 0px;
    background-color: ;
  }

  #MQQ-Img {
    width: 50%;
    height: auto;
  }


  #MQQ-Knock-Knock-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Knock-Knock-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }


  .Knock-Knock-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Knock-Knock-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Knock-Knock-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Knock-Knock-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }





  #MQQ-Whos-There-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Whos-There-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Whos-There-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Whos-There-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Whos-There-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Whos-There-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #MQQ-Who-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Who-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Who-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Who-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Who-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Who-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #End-Result {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 5px 0px;
    background-color: ;
  }

  #End-Result form {
    text-align: center;
  }

  #End-Result h1 {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
  }

  #End-Result button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }

}


@media only screen and (min-width: 1024px) {

  .MQQ-Container {

    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

  }


  .MQQ-Instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 5em;
    background-color: white;
  }

  .MQQ-Instructions h4 {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    color: black;
  }

  .MQQ-Instructions p {
    text-align: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em;
    font-weight: 400;
    color: black;
  }


  .MQQ-Img-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 50px 0px 30px 0px;
    background-color: ;
  }

  #MQQ-Img {
    width: 50%;
    height: auto;
  }


  #MQQ-Knock-Knock-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Knock-Knock-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }


  .Knock-Knock-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Knock-Knock-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Knock-Knock-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Knock-Knock-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }





  #MQQ-Whos-There-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Whos-There-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Whos-There-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Whos-There-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Whos-There-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Whos-There-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #MQQ-Who-Form {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 0px 0px;
    background-color: ;
  }

  #MQQ-Who-Form p {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
  }

  .Who-Input-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }

  .Who-Input-Wrapper input {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    background-color: orange;
  }


  .Who-Button-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: ;
  }


  .Who-Button-Wrapper button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }


  #End-Result {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 10px 0px 5px 0px;
    background-color: ;
  }

  #End-Result form {
    text-align: center;
  }

  #End-Result h1 {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
  }

  #End-Result button {
    margin: 10px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border: solid green 2px;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    background-color: orange;
  }

}
